{
  parser: "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "React" }],
    "react/jsx-uses-vars": 'error',
    "react/sort-prop-types": 'error',
    "react/prop-types": 'error',
  },
  "extends": ["airbnb-base"]
}
